body {
    background-color: black;
}

h1 {
	text-align:center;
    color: lightgray;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 40px;
}
h2 {
	text-decoration: underline;
}
h3{
	text-align:center;
    color: lightgray;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	
}
.haley{
	background-color: lightgray;
	margin-left: 210px;
	border: 2px solid gray;
    border-radius: 5px;
	padding: 25px;
}
p{
	font-family: "Times New Roman", Times, serif;
	margin-left: 220px;
	
}

.sidenav {
    height: 80%;
    width: 200px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
}

.sidenav p {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
