body {
    background-color: black;
}

h1 {
	text-align:center;
    color: lightgray;
}

.haley{
	background-color: lightgray;
    margin-right: 100px;
	margin-left: 100px;
	border: 2px solid gray;
    border-radius: 5px;
	padding: 25px;
}
